.profile-pic-container {
    position: relative;
    width: 100px;
    margin-left: 42%;
    height: 100px;
}
.profile {
    text-align: center;
    margin-bottom: 20px;
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #005eff;
    object-fit: cover;
}

.upload-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.upload-btn img {
    width: 20px;
    height: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #333;
    margin-bottom: 5px;
}

nav ul .active, nav ul li:hover {
    background-color: #f4a261;
}

/* Main Content */
.content {
    flex: 0;
    position: relative;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #f4a261;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #e2dede;
    color: black;
    border-radius: 5px;
}

.google-login, .save-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: orange;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.google-login:hover, .save-btn:active {
    background-color: rgb(255, 115, 0);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }
}
